<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>错误页面 - 逼乎</title>
    <meta name="keywords" content="404" />
    <meta name="description" content="404" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link type="text/css" media="all" href="/styles/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" media="all" href="/styles/dmaku.main.css" rel="stylesheet" />
    <link type="text/css" media="all" href="/styles/respons.css" rel="stylesheet" />
</head>
<body>
    <div class="animationload">
        <div class="loader">
        </div>
    </div>
    <div id="wrapper">
        <div class="container">
            <div class="col-xs-12 col-sm-7 col-lg-7">               
                <div class="info">
                    <h1>哎呀!</h1>
                    <h2>服务器出错啦!</h2>
                    <p>您正在寻找的页面被移动、移除、重命名、正在开发中或不存在.</p>
                    <p>请检查后重新输入</p>
                    <a href="/index" class="btn">返回首页</a>
                    <a href="https://github.com/cicicc" class="btn btn-green">联系作者</a>
                </div>              
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-5 text-center">                
                <div class="fighting">
                    <img src="/images/img/fighting.gif" alt="Fighting" />
                </div>                
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="/scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/scripts/modernizr.custom.js" type="text/javascript"></script>
    <script src="/scripts/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="/scripts/scripts.js" type="text/javascript"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</body>
</html>