
<script type="text/javascript" src="/scripts/main/jquery.js"></script>
<script type="text/javascript" src="/scripts/main/base/base.js"></script>
<script type="text/javascript" src="/scripts/main/base/util.js"></script>
<script type="text/javascript" src="/scripts/main/base/event.js"></script>
<script type="text/javascript" src="/scripts/main/component/component.js"></script>
<script type="text/javascript" src="/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupAdd.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupMsg.js"></script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
<script src="/scripts/vendor.ff76fbae.js"></script>
<script src="/scripts/base.fb262f0e.js"></script>
<script src="/scripts/common.fed5411f.js"></script>
<script src="/scripts/richtexteditor.aa0a4005.js" async=""></script>
<script src="/scripts/page-main.5d4c554d.js"></script>
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
</body></html>