<!DOCTYPE html>
<html lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>私信列表 - $!{user.name} - 逼乎</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/font-awesome.min.css">

    <link rel="stylesheet" media="all" href="../styles/letter.css">

    <script src="../scripts/hm.js"></script>
    <script src="../scripts/detail.js"></script>

    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.qrcode.min.js"></script>
</head>
<body class="posts_show">
    #parse("header.html")
    <div class="zu-global-notify" id="zh-global-message" style="display:none">
        <div class="zg-wrap">
            <div class="zu-global-nitify-inner">
            <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
            <span class="zu-global-notify-icon"></span>
            <span class="zu-global-notify-msg"></span>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                #foreach($conversation in $conversationList)
                    <li id="conversation-item-10005_622872">
                    <a class="letter-link" href="/msg/detail?conversationId=$!{conversation.message.conversationId}"></a>
                    <div class="letter-info">
                        <span class="l-time">$date.format("yyyy-MM-dd HH-mm-ss",${conversation.message.createdDate})</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="/msg/detail?conversationId=$!{conversation.message.conversationId}">
                                共$!{conversation.message.id}条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            $!{conversation.unreadMessageCount}
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="$!{conversation.user.headUrl}">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="$!{conversation.user.name}" class="letter-name level-color-1">
                            $!{conversation.user.name}
                        </a>
                        <p class="letter-brief">
                            <a href="/msg/detail?conversationId=$!{conversation.message.conversationId}">
                                $!{conversation.message.content}
                            </a>
                        </p>
                    </div>
                </li>
                #end
            <!--    <li id="conversation-item-10001_622873">
                <a class="letter-link" href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                </a>
                <div class="letter-info">
                <span class="l-time">06-23 11:07</span>
                <div class="l-operate-bar">
                <a href="javascript:void(0);" class="sns-action-del" data-id="10001_622873">
                删除
                </a>
                <a href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                共46条会话
                </a>
                </div>
                </div>
                <div class="chat-headbox">
                <span class="msg-num">
                41
                </span>
                <a class="list-head">
                <img alt="头像" src="http://static.nowcoder.com/images/head/like.png">
                </a>
                </div>
                <div class="letter-detail">
                <a title="赞" class="letter-name level-color-1">
                赞
                </a>
                <p class="letter-brief">
                <a href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                你的回答"C,D  ..." 收到来自用户一根小天线 的赞，获得的成就值+3，哎呦不错哦~
                </a>
                </p>
                </div>
                </li>
                <li id="conversation-item-10004_622873">
                <a class="letter-link" href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                </a>
                <div class="letter-info">
                <span class="l-time">2015-12-13</span>
                <div class="l-operate-bar">
                <a href="javascript:void(0);" class="sns-action-del" data-id="10004_622873">
                删除
                </a>
                <a href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                共1条会话
                </a>
                </div>
                </div>
                <div class="chat-headbox">
                <span class="msg-num">
                1
                </span>
                <a class="list-head">
                <img alt="头像" src="http://static.nowcoder.com/images/head/recommend.png">
                </a>
                </div>
                <div class="letter-detail">
                <a title="回答采纳" class="letter-name level-color-1">
                回答采纳
                </a>
                <p class="letter-brief">
                <a href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                亲爱的zmnk，你在"下述有关b..." 一题中留下的答案已被牛客采纳，做为系统推荐答案啦~~获得的成就值+10。PS. 牛客上还有好多未解之题等着你这样的聪明人儿来征服，能者多劳，再多贡献点智慧吧~
                </a>
                </p>
                </div>
                </li>-->
                </ul>

        </div>
        <script type="text/javascript">
          $(function(){

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function() {

              $('.weixin-qrcode-dropdown').show();

              var options = {
                "img_url": "",
                "link": "/index",
                "desc": "",
                "title": "乱七八糟的数据"
              };

              WeixinJSBridge.on('menu:share:appmessage', function (argv){
                WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              WeixinJSBridge.on('menu:share:timeline', function (argv) {
                WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              // $(window).on('touchmove scroll', function() {
              //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
              //     $('div.backdrop').show();
              //     $('div.share-help').show();
              //   } else {
              //     $('div.backdrop').hide();
              //     $('div.share-help').hide();
              //   }
              // });

            });

          })
        </script>
    </div>
    <div id="zh-footer" class="zh-footer">
<div class="content zg-wrap clearfix">
<ul>
#if($!{user})
<li><a href="/user/$!{user.id}" target="_blank">$!{user.name}</a></li>
#end
<!--<li><a href="/question/19581624" target="_blank">牛客指南</a></li>-->
<li><a href="javascript:;" id="js-feedback-button">建议反馈</a></li>

<!--<li><a href="/app" target="_blank">移动应用</a></li>-->
<li><a href="#">加入我们</a></li>
<li><a href="#" target="_blank">用户协议</a></li>
<li><a href="#">联系我们</a></li>

</ul>

<span class="copy">© 2018 逼乎</span>

</div>
</div>


#parse("footer.html")