<!DOCTYPE html>
<html lang="zh-CN"
      class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>私信详情列表 -${targetUser.name} - 逼乎</title>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/font-awesome.min.css">

    <link rel="stylesheet" media="all" href="../styles/letter.css">

    <script src="../scripts/hm.js"></script>
    <script src="../scripts/detail.js"></script>

    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.qrcode.min.js"></script>
</head>
<body class="posts_show">
#parse("header.html")
<div class="zu-global-notify" id="zh-global-message" style="display:none">
    <div class="zg-wrap">
        <div class="zu-global-nitify-inner">
            <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
            <span class="zu-global-notify-icon"></span>
            <span class="zu-global-notify-msg"></span>
        </div>
    </div>
</div>
<div id="main">
    <div class="zg-wrap zu-main clearfix ">
        <ul class="letter-chatlist">
            #foreach($message in $messages)
                <li id="msg-item-4009580">
                    <a class="list-head">
                        #if($message.fromId == $targetUser.id)
                            <img alt="头像" src="$!{targetUser.headUrl}">
                        #else
                            <img alt="头像" src="$!{user.headUrl}">
                        #end
                    </a>
                    <div class="tooltip fade right in">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner letter-chat clearfix">
                            <div class="letter-info">
                                <p class="letter-time">$date.format("yyyy-MM-dd HH-mm-ss", $!{message.createdDate})</p>
                                <a href="javascript:void(0);" id="del-link" name="4009580">删除</a>
                            </div>
                           <!-- <p class="chat-content">
                                你收藏的问题<a class="msg-view-all"
                                         href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=141625">"二维数组中的查找"</a>
                                有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                                 href="/profile/account#setNotification">点击设置</a>
                                ）
                            </p>-->
                            <p class="chat-content">
                                $!{message.content}
                            </p>
                        </div>
                    </div>
                </li>
            #end
        </ul>
        <form action="/msg/addMessage" method="post">
            <input type="hidden" name="toName" value="$!{targetUser.name}"/>
            <input type="hidden" name="inConversation" value="true"/>
            <div id="zh-question-answer-form-wrap" class="zh-question-answer-form-wrap">
                <div class="zm-editable-editor-wrap" style="">
                    <div class="zm-editable-editor-outer">
                        <div class="zm-editable-editor-field-wrap">
                            <textarea name="content" id="content" class="zm-editable-editor-field-element editable" style="width:100%;"></textarea>
                        </div>
                    </div>
                    <div class="zm-command clearfix">
                            <span class=" zg-right">
                                <button type="submit" class="submit-button zg-btn-blue">回复私信</button></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function () {

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function () {

                $('.weixin-qrcode-dropdown').show();

                var options = {
                    "img_url": "",
                    "link": "/index",
                    "desc": "",
                    "title": "乱七八糟的数据"
                };

                WeixinJSBridge.on('menu:share:appmessage', function (argv) {
                    WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });

                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });

                // $(window).on('touchmove scroll', function() {
                //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                //     $('div.backdrop').show();
                //     $('div.share-help').show();
                //   } else {
                //     $('div.backdrop').hide();
                //     $('div.share-help').hide();
                //   }
                // });

            });

        })
    </script>
</div>
<div id="zh-footer" class="zh-footer">
    <div class="content zg-wrap clearfix">
        <ul>
            #if($!{user})
            <li><a href="/user/$!{user.id}" target="_blank">$!{user.name}</a></li>
            #end
            <!--<li><a href="/question/19581624" target="_blank">牛客指南</a></li>-->
            <li><a href="javascript:;" id="js-feedback-button">建议反馈</a></li>

            <!--<li><a href="/app" target="_blank">移动应用</a></li>-->
            <li><a href="#">加入我们</a></li>
            <li><a href="#" target="_blank">用户协议</a></li>
            <li><a href="#">联系我们</a></li>

        </ul>

        <span class="copy">© 2018 逼乎</span>

    </div>
</div>


#parse("footer.html")
</body>
</html>